.App {
  font-family: sans-serif;
  text-align: center;
}

.App-icon,
.App-icon svg {
  width: 100px;
  height: 100px;
  fill: red;
}

.icon1 {
  color: blue;
}

.icon2 {
  color: yellow;
}

.icon3 {
  color: red;
}
